---
---

@import "{{ site.theme }}";

.wrapper {
  width: 50%;

}

section {
  width: 50%;         /* Make the content section wider */
  float: none;        /* Remove the float if present */
}

.inner {
  max-width: 100%;
}
