---
---

@import "{{ site.theme }}";

.wrapper {
  width: 90%;
  max-width: 1400px;  /* Adjust this for your preferred max width */
}

section {
  width: 70%;         /* Make the content section wider */
  float: none;        /* Remove the float if present */
}

.inner {
  max-width: 100%;
}
