---
---

@import "{{ site.theme }}";


.wrapper {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 200px;       /* Keep header at fixed width */
  position: fixed;
}

section {
  width: calc(100% - 250px);  /* Full width minus header + gap */
  margin-left: 230px; /* Push content to the right of the header */
  float: none;
}

.inner {
  max-width: 100%;
}